{% extends '../base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'core:home' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item">
      <a href="{% url 'ordem_servico:listagem' %}">Listagem de Ordem de Serviços</a>
    </li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
  </ol>

  <div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Lista Serviços
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
          </div>
          <!-- /.box-header -->
          <div class="box-body pad">
            <form class="form-horizontal" role="form" method="post" action="." enctype="multipart/form-data">
              {% csrf_token %}
              {% include "../includes/form_errors.html" with form=form %}
              {% for field in form %}
                {% include '../includes/form_field.html' with field=field %}
              {% endfor %}
              {{ produto_set.management_form }}
              <table class="table">
                {% for form in produto_set.forms %}
                  {% if forloop.first %}
                    <thead>
                    <tr>
                      {% for field in form.visible_fields %}
                        <th>{{ field.label|capfirst }}</th>
                      {% endfor %}
                    </tr>
                    </thead>
                  {% endif %}
                  <tr>
                  {% for field in form.visible_fields %}
                    <td>
                      {# Include the hidden fields in the form #}
                      {% if forloop.first %}
                        {% for hidden in form.hidden_fields %}
                          {{ hidden }}
                        {% endfor %}
                      {% endif %}
                      {{ field.errors.as_ul }}
                      {{ field }}
                    </td>
                  {% endfor %}
                  </tr>
                {% endfor %}

              </table>
              <a id="add_formset" href="javascript:void(0)" class="btn btn-info"><i class="fa fa-plus" ></i></a>
              <div class="box-footer">
                <hr />
                <a href="{% url 'ordem_servico:listagem' %}" class="btn btn-danger">Cancelar</a>
                <button class="btn btn-primary pull-right" type="submit">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block extrascripts %}
  {#<script src="{% static 'js/jquery.formset.js' %}"></script>#}
  <script type="text/javascript">
    jQuery(document).ready(function () {

      function do_add_formset(newElement, type, where) {
        total_forms_selector = '#id_' + type + '-TOTAL_FORMS';
        let total = Number($(total_forms_selector).val());

        newElement.find(':input').each(function () {
          // "attributes-0-attribute_value"
          let name = $(this).attr('name');
          let parts = name.split('-');
          let new_name = parts[0] + '-' + total + '-' + parts[2];
          let id = 'id_' + new_name;
          $(this).attr({
            'name': new_name,
            'id': id,
            'readonly': false
          }).val('').removeAttr('checked').addClass('unlocked').removeClass('locked');
        });
        total++;
        $(total_forms_selector).val(total);
        where.after(newElement);

        return newElement;
      }

      var last_tr_selector = '.table tr:last';

      $('#add_formset').on('click', function () {
        base_attributes_tr_html = '<tr>' + $(last_tr_selector).html() + '</tr>';
        do_add_formset($(base_attributes_tr_html), 'pedido_produto', $(last_tr_selector));
      });

    });
  </script>
{% endblock %}
