
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    
    <title>Sistema Metropax by Victor</title>
</head>
<body>
hummmmmm <br> <br>

<h2>Lista Serviços</h2>

<ul>
{%for alimen in alimentacao%}
<li> {{alimen.os}} ---- {{alimen.falecido}}  ---- <button> Finalizar </button></li> <p> <p>

{%endfor%}

</ul>


<a href="http://127.0.0.1:8000/">Voltar</a>

    {%block main%}





    {%endblock%}




</body>

</html>