{% extends '../base.html' %}
{% load static %}
{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'core:home' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
  </ol>

  
<div class="row">
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white bg-primary o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fas fa-fw fa-paperclip"></i>
          </div>
          <div class="mr-5">Cadastrar Ordem de Serviço</div>
        </div>
        <a class="card-footer text-white clearfix small z-1" href="{% url 'ordem_servico:os_cadastro' %}">
          <span class="float-left">Cadastrar</span>
          <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
        </a>
      </div>
    </div>

  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Lista Serviços
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Funerariaaaaa</th>
            <th>OS</th>
            <th>Falecido</th>
            <th>Prev. Velório</th>
            <th>Café</th>
            <th>Obs. Café</th>
            <th>Início do Preparo</th>
            <th>Termino do Preparo</th>
            <th>Ação</th>
          </tr>
          </thead>
          </tbody>
          {% for ordem in ordem_servicos %}
          <tr>
            <td>{{ordem.funeraria}}</td>
            <td>{{ ordem.codigo }}</td>
            <td>{{ ordem.falecido }}</td>
            <td>{{ordem.previsao_velorio}}</td>
            <td>{{ordem.cafe}}</td>
            <td>{{ordem.cafe}}</td>
            <td>{{ordem.inicio_cafe}}</td>
            <td>{{ordem.termino_cafe}}</td>
            <td>
              <button> Finalizar</button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>

{% endblock %}
