{% extends '../base.html' %}
{% load static %}
{% block extrastyle %}
  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'core:home' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item active">{{ page_title }}</li>
  </ol>

  <div class="card mb-3">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-8">
          <i class="fas fa-table"></i>
          Lista Serviços
        </div>
        <div class="col-xs-8 ml-auto">
          <a class="btn btn-primary" href="{% url 'ordem_servico:criar' %}">Nova OS</a>
        </div>
      </div>


    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Funeraria</th>
            <th>OS</th>
            <th>Falecido</th>
            <th>Prev. Velório</th>
            <th>Café</th>
            <th>Obs. Café</th>
            <th>Início do Preparo</th>
            <th>Termino do Preparo</th>
            <th>Ação</th>
          </tr>
          </thead>
          </tbody>
          {% for ordem in ordem_servicos %}
            <tr>
              <td>{{ ordem.funeraria }}</td>
              <td>{{ ordem.codigo }}</td>
              <td>{{ ordem.falecido }}</td>
              <td>{{ ordem.previsao_velorio }}</td>
              <td>{{ ordem.cafe }}</td>
              <td>{{ ordem.cafe }}</td>
              <td>{{ ordem.inicio_cafe }}</td>
              <td>{{ ordem.termino_cafe }}</td>
              <td>
                <button> Finalizar</button>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>

{% endblock %}
{% block extrascripts %}

<!-- Page level plugin JavaScript-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

<!-- Demo scripts for this page-->
<script src="{% static 'js/demo/datatables-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
{% endblock %}
