{% extends '../base.html' %}
{% load static %}

{% block content %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'core:home' %}">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Ordem de Serviços</li>
  </ol>


  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Lista Serviços
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>OS</th>
            <th>Falecido</th>
            <th>Ação</th>
          </tr>
          </thead>
          </tbody>
          {% for ordem in ordem_servicos %}
          <tr>
            <td>{{ ordem.os }}</td>
            <td>{{ ordem.falecido }}</td>
            <td>
              <button> Finalizar</button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted"></div>
  </div>

{% endblock %}
